* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.img-stack {
    display: flex;
    justify-content: space-between;
    position: absolute;
}

.img {
    display: flex;
    justify-content: center;
    background-image: url(./assets/Rectangle7.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 400px;
    height: 600px;
    padding-top: 55px;

}

.clock {
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./assets/clock.png);
    background-size: cover;

}

.clock:before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    z-index: 10000;
}

.clock .hour,
.clock .min,
.clock .sec {
    position: absolute;
}

.clock .hour,
.hr {
    width: 262px;
    height: 262px;
}

.clock .min,
.mn {
    width: 200px;
    height: 296px;
}

.clock .sec,
.sc {
    width: 230px;
    height: 333px;
}

.hr,
.mn,
.sc {
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;

}

.hr:before {
    content: '';
    position: absolute;
    width: 8px;
    height: 130px;
    background: #10bbff;
    z-index: 10;
    border-radius: 6px 6px 0 0;
}

.mn:before {
    content: '';
    position: absolute;
    width: 6px;
    height: 150px;
    background: #4a0285;
    z-index: 11;
    border-radius: 6px 6px 0 0;
}

.sc:before {
    content: '';
    position: absolute;
    width: 3px;
    height: 210px;
    background: #069425;
    z-index: 12;
    border-radius: 6px 6px 0 0;
}